
{% set remarkSection = {
	title: 'We solve digital problems with an outstanding creative flare',
	textParagraph1: 'The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.',
	textParagraph2: 'For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.',
	author: {
		name: 'Denis Shepovalov',
		position: 'Co-Founder & CEO',
		imageURL: '../../../img/remark/authorPhoto.jpg',
		imageAlt: 'Photo of Denis Shepovalov' 
	},
	imageURL: '../../../img/remark/remarkMainImage.jpg',
	imageAlt: 'Image placeholder text'
}%}

{% macro RemarkBlock() %}
<section class="remark">
	<div class="remark__container container flex">
		<div class="remark__image">
			<img src="{{ remarkSection.imageURL }}" alt="{{ remarkSection.imageAlt }}" width="444" height="564">
		</div>

		<div class="remark__main-content">
			<h2 class="remark__title title">{{ remarkSection.title }}</h2>
			<p class="remark__text text">{{ remarkSection.textParagraph1 }}</p>
			<p class="remark__text text">{{ remarkSection.textParagraph2 }}</p>

			<div class="remark__author-meta flex">
				<div class="remark__author-image">
					<img class="remark__author-image" src="{{ remarkSection.author.imageURL }}" width="65" height="65">
				</div>
				<div class="remark__author-details">
					<div class="remark__author-name">{{remarkSection.author.name }}</div>
					<div class="remark__author-position">{{remarkSection.author.position }}</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endmacro %}