{% from '../menu/menu.njk' import SectionMenu %}
{% from '../button/button.njk' import Btn %}
{% from '../slider/slider.njk' import SliderArrows %}

{% set DEFAULT_SERVICES_SETTINGS = {
	title: 'We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details',
	subtitle: 'services',
	slider: {
		settings: {
			infinite: false,
			arrows: true,
			slidesToShow: 1.3,
			slidesToScroll: 1,		
			prevArrow: '.js-prev-services',
			nextArrow: '.js-next-services',
			cssEase: 'ease-out',
			speed: 650,
			responsive: [{
				breakpoint: 700,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				}
			}]
		},
		slides: [
			{
				image: '@img/slide.jpg'
			},
			{
				image: '@img/slide.jpg'
			},
			{
				image: '@img/slide.jpg'
			}
		]
	}
} %}

{% macro ServicesBlock(settings = {}) %}
{% set settings = merge(DEFAULT_SERVICES_SETTINGS, settings) %}
<section class="services" id="services">
	<div class="services__container">
		<div class="services__subtitle">
			{{ settings.subtitle }}
		</div>
		<h2 class="services__title">
			{{ settings.title }}
		</h2>
		<nav class="services__menu">
			{{ SectionMenu() }}
		</nav>
		<div class="services__slider js-slider" data-options="{{ settings.slider.settings | dump }}">
			{% for slide in settings.slider.slides %}
				<div class="services__slide">
					<img src="{{ slide.image }}" alt="Alt" width="825" height="500">
					<div class="services__btn btn btn--center">
					{{ Btn('button', 'play') }}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="services__arrows">
			{{ SliderArrows({
				buttons: { 
					prev: 'js-prev-services', 
					next: 'js-next-services'
				} 
			}) }}
		</div>
	</div>
</section>
{% endmacro %}