@use "../util/" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;

	// display: grid;
  	// grid-template-rows: min-content 1fr;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

// img
img,
picture {
	max-width: 100%;
	display: block;
}

// form
input,
button,
textarea,
select {
	font: inherit;
}

// screen readers
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	/* added line */
	border: 0;
 }

// disabled 

.is-disabled {
	display: none;
}


// placement classes 

.container {
	max-width: 69.75rem;
	margin-inline: auto;
	padding-inline: 1em;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}


// buttons 

// button play
.btn--play {
	width: 65px;
	height: 65px;
	background-color: #fff;
	border: 0;
	position: relative;
	cursor: pointer;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-20%, -50%);
		border-width: 10px 15px;
		border-style: solid;
		border-left-color: hsl(11, 94%, 62%);
		border-right-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}

	&:hover {
		box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.5);
	}
}

// buttons

.btn {
	cursor: pointer;
	transition: all 150ms ease-in-out;

	&--play {
		width: 65px;
		height: 65px;
		background-color: #fff;
		border: 0;
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-20%, -50%);
			border-width: 10px 15px;
			border-style: solid;
			border-left-color: hsl(11, 94%, 62%);
			border-right-color: transparent;
			border-top-color: transparent;
			border-bottom-color: transparent;
		}

		&:hover {
			box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.5);
		}
	}

	&--center {
			position: absolute;
			bottom: 50%;
			right: 50%;
			transform: translate(50%, 50%);
	}
	
	&--primary {
		background-color: hsl(var(--darker-blue));
		color: hsl(0, 0%, 100%);
		border: 0;
		padding: 1em 2em;
	
	
		font-size: var(--text-sm);
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		letter-spacing: 4px;
	
		&:hover {
			background-color: hsl(var(--darker-blue), .75);
			outline: 1px solid black;
		}
	}
}

// video

.video {
	width: 100%;
	padding-top: 75%;
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	&__placeholder {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

// page overlay

.page-overlay {
	display: none;
	position: fixed;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 9;
	background-color: hsl(var(--gray), .7);

	&.is-down {
		display: block;
	}
}

// overflow hidden 
.overflow-hidden {
	overflow: hidden;
}