{% set DEFAULT_BUTTON_SETTINGS = {
	type: 'button',
	class: '',
	text: ''
} %}

{% macro Btn(settings = {}) %}
{% set settings = merge(DEFAULT_BUTTON_SETTINGS, settings) %}
	<button type="{{ settings.type }}" class="btn btn--{{ settings.class }}">{{ settings.text }}</button>
{% endmacro %}