{% set DEFAULT_BUTTON_SETTINGS = {
	type: 'button',
	className: '',
	text: ''
} %}

{% macro Btn(settings = {}) %}
{% set settings = merge(DEFAULT_BUTTON_SETTINGS, settings) %}
	<button type="{{ settings.type }}" class="btn {{ settings.className }}">{{ settings.text }}</button>
{% endmacro %}