{% extends "base.njk" %}

{% from '../components/hero/hero.njk' import HeroBlock %}
{% from '../components/remark/remark.njk' import RemarkBlock %}
{% from '../components/services/services.njk' import ServicesBlock%}
{% from '../components/features/features.njk' import FeaturesBlock %}
{% from '../components/works/works.njk' import WorksBlock %}
{% from '../components/testimonials/testimonials.njk' import TestimonialsBlock %}
{% from '../components/clients/clients.njk' import ClientsBlock %}

{% set title = 'Gravity' %} 

{% block content %}
	{{ HeroBlock() }}
	{{ RemarkBlock() }}
	{{ FeaturesBlock() }}
	{{ ServicesBlock() }}
	{{ WorksBlock() }}
	{{ TestimonialsBlock() }}
	{{ ClientsBlock() }}
{% endblock %}