{% set DEFAULT_REMARK_SETTINGS = {
	title: 'We solve digital problems with an outstanding creative flare',
	text: {
		paragraph1: 'The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.',
		paragraph2: 'For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.'
	},
	author: {
		name: 'Denis Shepovalov',
		position: 'Co-Founder & CEO',
		image: '@img/authorPhoto.jpg',
		imageAlt: 'Photo of Denis Shepovalov' 
	},
	image: '@img/remarkMainImage.jpg',
	imageAlt: 'Image placeholder text'
} %}

{% macro RemarkBlock() %}
<section class="remark">
	<div class="remark__container container">
		<div class="remark__image">
			<img src="{{ DEFAULT_REMARK_SETTINGS.image }}" alt="{{DEFAULT_REMARK_SETTINGS.imageAlt }}" width="444" height="564">
		</div>
		<div class="remark__main-content">
			<h2 class="remark__title">{{ DEFAULT_REMARK_SETTINGS.title }}</h2>
			<p class="remark__text">{{ DEFAULT_REMARK_SETTINGS.text.paragraph1 }}</p>
			<p class="remark__text">{{ DEFAULT_REMARK_SETTINGS.text.paragraph2 }}</p>
			<div class="remark__author-meta">
				<div class="remark__author-image-wrapper">
					<img class="remark__author-image" src="{{ DEFAULT_REMARK_SETTINGS.author.image }}" width="65" height="65">
				</div>
				<div class="remark__author-details">
					<div class="remark__author-name">{{DEFAULT_REMARK_SETTINGS.author.name }}</div>
					<div class="remark__author-position">{{DEFAULT_REMARK_SETTINGS.author.position }}</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endmacro %}