{% from '../form/form.njk' import FormModal %}
{% from '../button/button.njk' import Btn %}
{% from '../video/video.njk' import Video %}

{% set DEFAULT_HERO_SETTINGS = {
	media: {
		image: '@img/hero-image.jpg',
		imageAlt: 'Hero image'
	},
	slider: {
		settings: {
			infinite: true,
			dots: true,
			arrows: false,
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 5000
		},
		slides: [
			{
				title: 'Work around you and your team',
				description: 'From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.'
			},
			{
				title: 'Work around you and your team',
				description: 'From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.'
			}
		]
	}
} %}

{% macro HeroBlock(settings = {}) %}
{% set settings = merge(DEFAULT_HERO_SETTINGS, settings)%}
<section class="hero" id="home">
	<div class="hero__container">
		<article class="hero__main-content">
			<div class="hero__slider js-slider" data-options="{{ settings.slider.settings | dump }}">
				{% for slide in settings.slider.slides %}
					<div class="hero__slide">
						<h1 class="hero__title">{{ slide.title }}</h1>
						<p class="hero__description text"> {{ slide.description }}</p>
					</div>
				{% endfor %}
			</div>
			<div class="hero__btn js-trigger-form">
						{{ Btn('button', 'primary', 'Get Started') }}
			</div>
			<div class="hero__form js-form-modal">
				<div class="hero__tablist">
					<button class="hero__tab js-trigger-tab hero__tab--selected" data-trigger="js-sign-up">Sign Up</button>
					<button class="hero__tab js-trigger-tab" data-trigger="js-log-in">Log In</button>
					<div class="hero__tab hero__tab--close js-close-form"></div>
				</div>
				<div class="hero__form-content">
					{% call FormModal() %}
					{% endcall %}
				</div>
			</div>
		</article>
		<div class="hero__video">
			{{ Video() }}
		</div>
		<div class="hero__image">
			<img src="{{ settings.media.image }}" alt="{{ settings.media.imageAlt }}" height="840" width="665">
		</div>
	</div>
</section>
{% endmacro %}