{% set clientsSection = {
	name: 'worked with',
	title: 'Our Clients',
	text: 'Our favorite brands are our friends! We help them to achieve their goals, they help us to stay sharp.',
	companies: ['@img/icons/xiaomi.svg', '@img/icons/tinder.svg', '@img/icons/apple.svg', '@img/icons/nike.svg', '@img/icons/amd.svg']
} %}

{% macro ClientsBlock() %}
<section class="clients">
	<div class="clients__container container grid">
		<h2 class="clients__title title">{{ clientsSection.title }}</h2>

		<div class="clients__text-content">
			<div class="clients__subtitle">
				<span class="subtitle">{{ clientsSection.name }}</span>
			</div>
			<p class="clients__text">{{ clientsSection.text }}</p>
		</div>

		<div class="clients__companies flex">
			{% for company in clientsSection.companies %}
				<div class="clients__company">
					<img src="{{ company }}" alt="Client's icon">
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endmacro %}