{% set DEFAULT_CLIENTS_SETTINGS = {
	title: 'Our Clients',
	subtitle: 'we worked with',
	text: 'Our favorite brands are our friends! We help them to achieve their goals, they help us to stay sharp.',
	clients: ['@img/icons/xiaomi.svg', '@img/icons/tinder.svg', '@img/icons/apple.svg', '@img/icons/nike.svg', '@img/icons/amd.svg']
} %}

{% macro ClientsBlock(settings = {}) %}
{% set settings = merge(DEFAULT_CLIENTS_SETTINGS, settings) %}
<section class="clients">
	<div class="clients__container container">
		<h2 class="clients__title">{{ settings.title }}</h2>
		<div class="clients__text-content">
			<div class="clients__subtitle">
				{{ settings.subtitle }}
			</div>
			<p class="clients__text">{{ settings.text }}</p>
		</div>
		<div class="clients__companies">
			{% for company in settings.clients %}
				<div class="clients__company">
					<img src="{{ company }}" alt="Client's icon">
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endmacro %}