@use "../../util/" as *;

.footer {
	padding-block: 4rem;

	background-color: hsl(var(--dark-gray));

	@include breakpoint(medium) {
		padding-block: 6.8125rem;
	}

	&__container {
		place-items: center center;
	}
}