{% import '../../macro.njk' as macro %}

{% set footerLogo = '../../../img/logo-footer.svg' %}

<footer class="footer">
	<div class="footer__container container grid">

		<div class="footer__content">
			{{ macro.Logo(footerLogo) }}
		</div>

	</div>
</footer>