{% from '../search-bar/search-bar.njk' import SearchBar %}

{% set DEFAULT_NAVIGATION_SETTINGS = {
	menuItems: [
		{ 
			title: 'home', 
			link: '#home' 
		}, 
		{ 
			title: 'services', 
			link: '#services' 
		}, 
		{ 
			title: 'works', 
			link: '#works' 
		},
		{ 
			title: 'testimonials', 
			link: '#testimonials' 
		}
	]
} %}

{% macro Navigation(settings = {}) %}
{% set settings = merge(DEFAULT_NAVIGATION_SETTINGS, settings) %}
	<nav class="navigation">
		<ul class="navigation__list">
			{% for item in settings.menuItems %}
				<li class="navigation__item">
					<a href="{{ item.link }}" class="navigation__link">{{ item.title }}</a>
				</li>
			{% endfor %}
			<li class="navigation__link">
				<div class="navigation__search-bar js-search-bar">
					{{ SearchBar({ className: 'search-bar--mobile' }) }}
				</div>
			</li>
		</ul>
	</nav>
{% endmacro %}