.footer {
	padding-block: 4rem;
	background-color: hsl(var(--dark-gray));

	@include breakpoint(medium) {
		padding-block: 6.8rem;
	}

	&__container {
		display: grid;
		place-items: center center;
	}
}