.navigation {
	&__list {
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;
		font-size: var(--text-title-md);
		text-align: center;
		letter-spacing: 4px;
		
		& >*:where(:not(:first-child)) {
			margin-top: 1.5rem;
		}
	}

	&__item {
		display: inline-block;
		&:hover {
			text-decoration: underline;
		}
	}

	&__link {
		color: inherit;
		text-decoration: none;
		font-weight: 700;
	}
}