{% from '../search-bar/search-bar.njk' import SearchBar %}
{% from '../navigation/navigation.njk' import Navigation %}

{% set DEFAULT_HEADER_SETTINGS = {
	logo: '@img/icons/logo.svg'
} %}

{% macro HeaderBlock(settings = {}) %}
{% set settings = merge(DEFAULT_HEADER_SETTINGS, settings) %}
	<header class="header">
		<div class="header__container container">
			<a class="header__logo">
				<img src="{{ settings.logo }}" alt="logo">
			</a>
			<div class="header__search-bar">
				{{ SearchBar({ className: 'search-bar--desktop' }) }}
			</div>
			<div class="header__nav-toggle-wrapper">
				<button class="header__nav-toggle js-nav-toggle">
					{% for line in [1, 2] %}
						<span class="header__nav-toggle-line"></span>
					{% endfor %}
				</button>
			</div>
			<div class="header__navigation js-navigation" aria-hidden="true">
				{{ Navigation() }}
			</div>
		</div>
	</header>
{% endmacro %}