{% from '../search-bar/search-bar.njk' import SearchBar %}
{% from '../navigation/navigation.njk' import Navigation %}

{% set DEFAULT_HEADER_SETTINGS = {
	logo: '@img/icons/logo.svg',
	menu: [
		{ 
			title: 'home', 
			link: '#home' 
		}, 
		{ 
			title: 'services', 
			link: '#services' 
		}, 
		{ 
			title: 'works', 
			link: '#works' 
		},
		{ 
			title: 'testimonials', 
			link: '#testimonials' 
		}
	]
} %}

{% macro HeaderBlock() %}
	<header class="header">
		<div class="header__container container">
			<a class="header__logo">
				<img src="{{ DEFAULT_HEADER_SETTINGS.logo }}" alt="logo">
			</a>
			<div class="header__search-bar">
				{{ SearchBar({ className: 'search-bar--desktop' }) }}
			</div>
			<div class="header__nav-toggle-wrapper">
				<button class="header__nav-toggle js-nav-toggle">
					{% for line in [1, 2] %}
						<span class="header__nav-toggle-line"></span>
					{% endfor %}
				</button>
			</div>
			<div class="header__navigation js-navigation" aria-hidden="true">
				{{ Navigation(DEFAULT_HEADER_SETTINGS.menu) }}
			</div>
		</div>
	</header>
{% endmacro %}