{% import '../../macro.njk' as macro %}

{% set menu = [{title: 'home', link: '#home'}, {title: 'services', link: '#services'}, {title: 'works', link: '#works'}, {title: 'testimonials', link: '#testimonials'}]%}

<nav class="navigation">
	<ul class="navigation__list flex">

	{% for item in menu %}
		<li class="navigation__item">
			<a href="{{ item.link }}" class="navigation__link">{{ item.title }}</a>
		</li>
	{% endfor %}

	{{ macro.SearchBar('search-bar--mobile', searchIcon ) }}
	
	</ul>
</nav>
