
{% from '../button/button.njk' import Btn %}

{% set DEFAULT_VIDEO_SETTINGS = {
	source: 'https://www.youtube.com/embed/XnzxEGLaPxs',
	placeholder: '@img/video-placeholder.jpg'
} %}

{% macro Video()%}
<div class="video js-video" data-src="{{ DEFAULT_VIDEO_SETTINGS.source }}">
	<img class="video__placeholder js-video-placeholder" src="{{ DEFAULT_VIDEO_SETTINGS.placeholder }}" alt="Video placeholder">
	<div class="video__btn btn btn--center js-video-btn">
		{{ Btn('button', 'play') }}
	</div>
</div>
{% endmacro %}