
{% from '../button/button.njk' import Btn %}

{% set DEFAULT_VIDEO_SETTINGS = {
	source: 'https://www.youtube.com/embed/XnzxEGLaPxs',
	placeholder: '@img/video-placeholder.jpg'
} %}

{% macro Video(settings = {})%}
{% set settings = merge(DEFAULT_VIDEO_SETTINGS, settings) %}
<div class="video js-video" data-src="{{ settings.source }}">
	<img class="video__placeholder js-video-placeholder" src="{{settings.placeholder }}" alt="Video placeholder">
	<div class="video__btn btn btn--center js-video-btn">
		{{ Btn({
			type:'button', 
			class: 'play'
		}) }}
	</div>
</div>
{% endmacro %}