// slider dots
.slick-dots {
	position: absolute;
	display: flex;
	column-gap: 1.6rem;
	padding-inline: 0;
	left: 0;
	list-style-type: none;
	[role="presentation"] {
		height: 2px;
		margin-right: 1rem;
	}
	[role="tab"] {
		height: 100%;
		width: 100%;
		border: 0;
		background-color: hsla(38, 31%, 68%, .5);
		font-size: 0;
		width: 3.9375rem;
		padding: 0;
	}
	[aria-controls*="slick-slide"] {
		&::before {
			content: '';
		}
	}
	[aria-selected="true"] {
		background-color: hsl(38, 31%, 68%);
	}
	@include breakpoint(medium) {
		bottom: -100%;
		padding-block: 2.5rem;
		transform: translateY(100%);
	}
}
