{% set DEFAULT_FEATURES_SETTINGS = {
	title: 'Well thought with super easy to use',
	description: 'As we approached the palace I could see through the great windows of the first floor the brilliantly illuminated audience chamber of Than Kosis. The immense hall was crowded with nobles and their women.',
	media: {
		imageSpread: '@img/imageSpread.png',
		imageCentered: '@img/imageCentered.png'
	},
	features: [
		{
			text: 'Ultimate Result',
			icon: '@img/icons/100icon.svg'
		},
		{
			text: 'Minimal Design',
			icon: '@img/icons/bagicon.svg'
		}
	]
}	%}

{% macro FeaturesBlock() %}
<section class="features">
	<div class="features__container">
		<div class="features__images">
			<div class="features__image features__image--spread">
				<img src="{{ DEFAULT_FEATURES_SETTINGS.media.imageSpread }}" alt="Alt" width="570" height="417">
			</div>
			<div class="features__image features__image--centered">
				<img src="{{ DEFAULT_FEATURES_SETTINGS.media.imageCentered }}" alt="Alt" width="350" height="453">
			</div>
		</div>
		<div class="features__main-content">
			<h2 class="features__title">{{ DEFAULT_FEATURES_SETTINGS.title }}</h2>
			<p class="features__description">{{ DEFAULT_FEATURES_SETTINGS.description }}</p>
		<div class="features__slogans">
			{% for feature in DEFAULT_FEATURES_SETTINGS.features %}
				<div class="features__slogan">
					<img src="{{ feature.icon }}" alt="Alt">
					<p>{{ feature.text }}</p>
				</div>
			{% endfor %}						
		</div>
	</div>
</section>
{% endmacro %}