{% set DEFAULT_FOOTER_SETTINGS = {
	logo: '@img/icons/logo-footer.svg'
} %}

{% macro FooterBlock() %}
<footer class="footer">
	<div class="footer__container container grid">
		<div class="footer__content">
			<img src="{{ DEFAULT_FOOTER_SETTINGS.logo }}" alt="Logo">
		</div>
	</div>
</footer>
{% endmacro %}
