{% macro FooterBlock() %}
{% set footerLogo = '@img/icons/logo-footer.svg' %}
<footer class="footer">
	<div class="footer__container container grid">
		<div class="footer__content">
			<img src="{{ footerLogo }}" alt="Logo">
		</div>
	</div>
</footer>
{% endmacro %}
