{% from '../slider/slider.njk' import SliderArrows %}

{% set testimonialsSectionName = 'testimonials' %}

{% set testimonialsSectionSlides = [
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '@img/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	},
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '@img/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	},
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '@img/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	},
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '@img/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	}
]%}

{% set sliderOptions = {
	infinite: true,
	arrows: true,
	slidesToShow: 1,
	slidesToScroll: 1,		
	prevArrow: '.js-prev-testimonials',
	nextArrow: '.js-next-testimonials',
	cssEase: 'linear',
	speed: 800,
	autoplay: true,
	autoplaySpeed: 3000,
	draggable: false
} %}

{% macro TestimonialsBlock() %}
<section class="testimonials" id="testimonials">
	<div class="testimonials__container grid">


		<div class="testimonials__slider slider-testimonials js-slider" data-options="{{ sliderOptions | dump }}">
			
			{% for slide in testimonialsSectionSlides %}
				<div class="testimonials__slide">
					<div class="testimonials__subtitle">
						<span class="subtitle">{{ testimonialsSectionName }}</span>
					</div>
					<div class="testimonials__quote title">
						<p>{{ slide.text }}</p>
					</div>

					<div class="testimonials__author-meta">
						<p class="testimonials__author-name">{{ slide.authorName }}</p>
						<p class="testimonials__author-position text">{{ slide.authorPosition }}</p>
					</div>

					<div class="testimonials__author-image">
						<img src="{{ slide.authorImage }}" alt="{{ slide.imgAlt }}">
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="testimonials__arrows">
			{{ SliderArrows('js-prev-testimonials', 'js-next-testimonials') }}
		</div>
	</div>
</section>
{% endmacro %}