{% from '../slider-arrows/slider-arrows.njk' import SliderArrows %}

{% set DEFAULT_TESTIMONIALS_SETTINGS = {
	subtitle: 'testimonials',
	slider: {
		settings: {
			infinite: true,
			arrows: true,
			slidesToShow: 1,
			slidesToScroll: 1,		
			prevArrow: '.js-prev-testimonials',
			nextArrow: '.js-next-testimonials',
			cssEase: 'linear',
			speed: 800,
			autoplay: true,
			autoplaySpeed: 3000,
			draggable: false
		},
		slides: [
			{
				text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
				author: {
					name: 'Polina Kuzina',
					position: 'Manager at Craftwork',
					image: '@img/Author.png',
					imageAlt: 'The portrait of Polina Kuzina'
				}
			},
			{
				text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
				author: {
					name: 'Polina Kuzina',
					position: 'Manager at Craftwork',
					image: '@img/Author.png',
					imageAlt: 'The portrait of Polina Kuzina'
				}
			}
		]
	}
} %}

{% macro TestimonialsBlock(settings = {}) %}
{% set settings = merge(DEFAULT_TESTIMONIALS_SETTINGS, settings) %}
<section class="testimonials" id="testimonials">
	<div class="testimonials__container">
		<div class="testimonials__slider js-slider" data-options="{{ settings.slider.settings | dump }}">
			{% for slide in settings.slider.slides %}
				<div class="testimonials__slide">
					<div class="testimonials__subtitle">
						{{ settings.subtitle }}
					</div>
					<div class="testimonials__quote">
						<p>{{ slide.text }}</p>
					</div>
					<div class="testimonials__author-meta">
						<p class="testimonials__author-name">{{ slide.author.name }}</p>
						<p class="testimonials__author-position">{{ slide.author.position }}</p>
					</div>

					<div class="testimonials__author-image">
						<img src="{{ slide.author.image }}" alt="{{ slide.author.imgAlt }}">
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="testimonials__arrows">
			{{ SliderArrows({
				buttons: { 
					prev: 'js-prev-testimonials', 
					next: 'js-next-testimonials'
				} 
			}) }}
		</div>
	</div>
</section>
{% endmacro %}