{% import '../../macro.njk' as macro %}

{% set testimonialsSection = [
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '../../../img/testimonials/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	},
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '../../../img/testimonials/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	},
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '../../../img/testimonials/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	},
	{
	text: '"Professionals in their craft! All products were super great with strong attention to details, and overall vibe"',
	authorName: 'Polina Kuzina',
	authorPosition: 'Manager at Craftwork',
	authorImage: '../../../img/testimonials/Author.png',
	imgAlt: 'The portrait of Polina Kuzina'
	}
]%}

{% macro TestimonialsBlock() %}
<section class="testimonials" id="testimonials">
	<div class="testimonials__container grid">


		<div class="testimonials__slider slider-testimonials slider-testimonials-js">
			{% for slide in testimonialsSection %}
			<div class="testimonials__slide">
				<div class="testimonials__subtitle">
					{{ macro.SectionName('Testimonials') }}
				</div>
				<div class="testimonials__quote title">
					<p>{{ slide.text }}</p>
				</div>

				<div class="testimonials__author-meta">
					<p class="testimonials__author-name">{{ slide.authorName }}</p>
					<p class="testimonials__author-position text">{{ slide.authorPosition }}</p>
				</div>

				<div class="testimonials__author-image">
					<img src="{{ slide.authorImage }}" alt="{{ slide.imgAlt }}">
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="testimonials__arrows">
			{{ macro.SliderArrows('js-prev-testimonials', 'js-next-testimonials') }}
		</div>
	</div>
</section>
{% endmacro %}