@use "../../util/" as *;


.nav-toggle {
	z-index: 15;
	display: flex;
	align-self: center;
	position: relative;
	height: 0.875rem;
	width: 2.125rem;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	
	&__line {
	position: absolute;
	display: block;
	width: 100%;
	height: 0.1875rem;
	background-color: hsl(var(--black));
	transition: width 150ms ease-in-out;

	&:first-of-type {
		top: 0;
		width: 100%;
	}

    &:last-of-type {
		bottom: 0;
      right: 0;
      width: 50%;
    }
	}

	&:hover > &__line {
		width: 100%;
	 }

	 &.active {
		.nav-toggle__line {
			transition: transform 250ms ease;
			top: 50%;
			width: 75%;

			&:first-of-type {
				left: 15%;
				transform: rotate(45deg);
			 }
	 
			 &:last-of-type {
				right: 10%;
				transform: rotate(-45deg);
			 }
		}
	}

}