{% import '../../macro.njk' as macro %}

{% set worksSection = {
	title: 'Discover our Work',
	menu: {
		links: [{name: 'All', href: '#'}, {name: 'Branding', href: '#'}, {name: 'Web', href: '#'}, {name: 'Development', href: '#'}, {name: 'Films', href: '#'}]
	},
	workSet: [{imgUrl: '../../../img/works/1.png', imgAlt: 'Our work'}, {imgUrl: '../../../img/works/2.png', imgAlt: 'Our work'}, {imgUrl: '../../../img/works/3.png', imgAlt: 'Our work'}, {imgUrl: '../../../img/works/4.png', imgAlt: 'Our work'}, {imgUrl: '../../../img/works/5.png', imgAlt: 'Our work'}, {imgUrl: '../../../img/works/6.png', imgAlt: 'Our work'}]

}%}

{% macro WorksBlock() %}
<section class="works" id="works">
	<div class="works__container container">

		<div class="works__subtitle">
			{{ macro.SectionName('our works') }}
		</div>

		<div class="works__main-content flex">

			<h2 class="works__title title">
				{{ worksSection.title }}
			</h2>

			<nav class="works__menu">
				{{ macro.SectionMenu(worksSection.menu.links, 'list--flex') }}
			</nav>
		</div>

		<div class="works__set grid">
			{% for item in worksSection.workSet %}
				<div class="works__item">
					
					<div class="works__image">
						<img src="{{ item.imgUrl }}" alt="{{ item.imgAlt }}" width="350" height="450">
					</div>
					<div class="works__play-btn">
						{{ macro.Btn('button', 'play') }}
					</div>

				</div>
			{% endfor %}
		</div>

		<div class="works__hyperlink flex">
			<p class="works__text text">It picks up the words on the page and displays ads that are similar to those words. Then when someone either performs an action or clicks on your page you will get paid.</p>

			<a class="works__btn btn btn--primary" href="#" target="_blank">see our works</a>
		</div>

	</div>
</section>
{% endmacro %}