@use "../util/" as *;

// font-family
$font: "FiraSans", sans-serif;

// font-sizes
:root {
  --text-title: clamp(2rem, 5vw + .5rem, 3.75rem);
  --text-title-md: 1.5rem;
  --text-title-form: 1.4rem;
  --text-md: 1.2rem;
  --text-reg: 1.125rem;
  --text-sm: 0.875rem;
  --text-form-tab: 1rem;

  @include breakpoint(medium) {
    --text-title-md: 2.5rem;
    --text-title-form: 2rem;
    --text-md: 1.375rem;
    --text-reg: 1.125rem;
    --text-sm: 0.875rem;
    --text-form-tab: 1.25rem;
  }
}

body {
  font-family: $font;
  font-size: var(--text-reg);
  line-height: 1.5;
}







