{% macro SliderArrows(blockPrev, blockNext) %}
	<div class="arrows flex">
		<div class="arrows__arrow arrow arrow--prev {{ blockPrev }}"></div>
		<div class="arrows__arrow arrow arrow--next {{ blockNext }}"></div>
	</div>
{% endmacro %}